{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
<header>
	<ul>
		<li id ="home"><a href="{% url 'home:home' %}">Home</a></li>
		{% if user.is_athenticated %}
		<li><a href="{% url 'account:logout' %}">Logout</a></li>
		{% else %}
		<li><a href="{% url 'account:login' %}">Login</a></li>
		<li><a href="{% url 'account:register' %}">register</a></li>
		{% endif %}
		
		<div class ="ani-mov">
		</div>
	</ul>

</header>
<br>
{% if messages %}
{% for message in messages %}
<li id ="messages">{{ message }}</li>
{% endfor %}
{% endif %}
<!-- second -->

{% block content %}

{% endblock %}
</div>
</body>
</html>